.header {
  background-color: red;
  height: 50px;
}

.main-visual {
  background-color: orange;
  height: 500px;
}

.main {
  background-color: palegreen;
  width: 960px;
  height: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.container {
  width: 500px;
  height: 1400px;
  background-color: green;
}

.footer {
  background-color: blue;
  height: 100px;
}
