* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  text-align: center;
  margin: 20px 0;
}

nav {
  text-align: center;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.list-item {
  display: inline-block;
  margin: 15px 20px;
}

.main {
  height: 600px;
  width: 800px;
  background-color: red;
  margin: 50px auto;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
}

.box1 {
  height: 200px;
  width: 200px;
  background-color: #e6ffe9;
}

.box2 {
  height: 200px;
  width: 200px;
  background-color: #cbffb3;
}

.box3 {
  height: 200px;
  width: 200px;
  background-color: #aeffbd;
}

.box4 {
  height: 200px;
  width: 200px;
  background-color: #93ffab;
}

.box5 {
  height: 200px;
  width: 200px;
  background-color: #f3ffd8;
}

.box6 {
  height: 200px;
  width: 200px;
  background-color: #edffbe;
}

.box7 {
  height: 200px;
  width: 200px;
  background-color: #e9ffa5;
}

.box8 {
  height: 200px;
  width: 200px;
  background-color: #e4ff8d;
}

.box9 {
  height: 200px;
  width: 200px;
  background-color: #d9e5ff;
}

.box10 {
  height: 200px;
  width: 200px;
  background-color: #bad3ff;
}

.box11 {
  height: 200px;
  width: 200px;
  background-color: #a4c6ff;
}

.box12 {
  height: 200px;
  width: 200px;
  background-color: #8eb8ff;
}

footer {
  height: 120px;
  background-color: grey;
  text-align: center;
}

footer > p {
  color: white;
  line-height: 120px;
}
