* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-visual {
  background-image: url(img7/mv.jpg);
  background-position: bottom;
  background-size: cover;
  height: 400px;
}

.heading {
  padding: 20px 0 0 20px;
}

main {
  margin: 20px 0 50px 0;
}
.conteiner {
  width: 840px;
  margin: 0 auto;
}

.item {
  padding: 30px 0;
  border-bottom: lightgray solid 1px;
}
