* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

.container {
  margin: 50px auto;
  width: 960px;
  display: flex;
}

.box {
  width: 300px;
  margin-right: 30px;
  background-color: #eeeeee;
}

.heading {
  background-color: #ff9a4b;
  position: absolute;
  color: #eeeeee;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

.image1 {
  background-image: url(img9/flow01.png);
  background-size: cover;
  background-position: center;
  height: 150px;
  margin: 10px 10px 15px 10px;
}

.image2 {
  background-image: url(img9/flow02.png);
  background-size: cover;
  background-position: center;
  height: 150px;
  margin: 10px 10px 15px 10px;
}

.image3 {
  background-image: url(img9/flow03.png);
  background-size: cover;
  background-position: center;
  height: 150px;
  margin: 10px 10px 15px 10px;
}

h3 {
  padding-bottom: 5px;
}
